In [ ]:
my_dict={'name':["Manthan","Maharshi","Ayush"],'roll_no':[1,2,3],'maths_marks':[89,95,79]}
print(my_dict)

{'name': ['Manthan', 'Maharshi', 'Ayush'], 'roll_no': [1, 2, 3], 'maths_marks': [89, 95, 79]}

In [44]:
my_dict['name']

['Manthan', 'Maharshi', 'Ayush']

In [74]:
#if you want to print all value as list
for i in my_dict.values():
    print(i)
#second methode
for key,value in my_dict.items():
    print(key,':-',value)

['Manthan', 'Maharshi', 'Ayush']
[45, 46, 47]
[100, 89, 93]
[87, 75, 94]
name :- ['Manthan', 'Maharshi', 'Ayush']
roll_no :- [45, 46, 47]
maths_marks :- [100, 89, 93]
physics_marks :- [87, 75, 94]

In [46]:
#if you want to add key vales pair 
my_dict['physics_marks']=[87,75,94]
for i in my_dict.values():
    print(i)

['Manthan', 'Maharshi', 'Ayush']
[1, 2, 3]
[89, 95, 79]
[87, 75, 94]

In [71]:
#if you want to change values
my_dict['roll_no']=[45,46,47]
my_dict['maths_marks']=[100,89,93]
print(my_dict['roll_no'])
my_dict

[45, 46, 47]

{'name': ['Manthan', 'Maharshi', 'Ayush'],
 'roll_no': [45, 46, 47],
 'maths_marks': [100, 89, 93],
 'physics_marks': [87, 75, 94]}

In [75]:
# birf introduction about zip function
list_1=['Manthan','ayush','Mahrshi','Rushabh']
list_2=[1,2,3,4]
list_3=['reading','travelling','cricket','music']

for item in zip(list_1,list_2,list_3): # we can add more than 3 list here
    print(item)

('Manthan', 1, 'reading')
('ayush', 2, 'travelling')
('Mahrshi', 3, 'cricket')
('Rushabh', 4, 'music')

In [82]:
# if u want to creat list or ilterable data type by using range function
print(list(range(10)))
list(enumerate(list_1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[(0, 'Manthan'), (1, 'ayush'), (2, 'Mahrshi'), (3, 'Rushabh')]

In [95]:
#create list using for loop
my_string="Hello, how are you?"
list=[letter for letter in my_string]
print(list)
list_1=[i for i in range(0,50,2)]
#you can also create list_1 as follows,
list_2=[i for i in range(0,50) if i%2==0]
list_3=[i if i%2==0 else 'ODD' for i in range(0,50) ]
print(list_1)
print(list_2)
print(list_3)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?']
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [2]:
#make a function that returns name of employee with  his salary who's salary is max

def employee_of_month(data):
   current_max=0
   for name,salary in data:
      if salary> current_max:
         current_max=salary
         employee_name=name
      else:
         pass   

   return (employee_name,current_max)  

list=[('Manthan',400),('Mahrshi',420),('Rushabh',500),('Ayush',450),('Het',250)]

answer=employee_of_month(list) 
# we can also store return answer in saperate variable like this
a,b=employee_of_month(list)
print(answer) 
print(a)
print(b)

('Rushabh', 500)
Rushabh
500

In [8]:
def myfunc(string):
    new_string=''
    for letter in string:
        if letter.isupper():
            new_string +=letter.lower()
        else:
            new_string +=letter.upper()
    return new_string  
    
    
print(myfunc('ManthanisHere'))

mANTHANIShERE

In [13]:
#return the sum of the number in list except ignor section start with 6 and extended to the next 9(every 6 
# #will be followed by 9)
def special_sum(list):
    a=list.index(6)
    b=list.index(9)
    for i in range (a, b +1):
         list.pop(a)
    print(sum(list))

list=[i for i in range(4,10)]
special_sum(list)

9